@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web App</h1>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           
        </p>
        <p class="btn btn-default">Learn more</p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p></p>
        <p class="btn btn-default" >Learn more</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p></p>
        <p class="btn btn-default">Learn more</p>
    </div>
</div>